/*-- scss:defaults --*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


// fonts
$font-family-sans-serif: "Noto Serif", sans-serif;

// colors
$body-bg: #f4f6ff;
$body-color: #000;
$link-color: #00a08a;
$code-block-bg: #ffffff;
$code-block-border-color: #2a5783;


// headings
$presentation-heading-font: "Noto Serif", sans-serif;
$presentation-heading-color: #000000;

/*-- scss:rules --*/

.blue{
  color: #4885c1;
}

.small{
  font-size: 15px;
}

.tgsure{
  color: #4f8a8b;
}

.tgmaybe{
  color: #dec000;
}

.tgcouldbe{
  color: #43a9ff;
}

.math{
  font-size: 20px;
}